<header class="site-header" role="banner">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

  <div id="logo" class="simple fixed"  title="The Traveling Office of Alex Bloom">
	<div id="cross-inner-ns" class="logo-cross"></div>
	<div id="cross-inner-ew" class="logo-cross"></div>
	<div id="cross-outer-nesw" class="logo-cross"></div>
	<div id="cross-outer-nwse" class="logo-cross"></div>
	<div id="circle"></div>
	<div id="eye">
		<div id="bracket-L" class="eye-bracket"></div>
		<div id="pupil"></div>
		<div id="bracket-R" class="eye-bracket"></div>
	</div>	
  </div>
  
  <nav>
	<a href="{{site.baseurl}}"><span class="icon-clipboard"> </span> About </a>
	<a href="{{site.baseurl}}/projects/"><span class="icon-briefcase"> </span> Projects </a>
	<a href="mailto:{{site.email}}"target=_blank> <span class="icon-mail"> </span> Contact </a>
  </nav>
  



</header>
